#Ignore build results
[Dd]ebug/
[Dd]ebug/*
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/